.about {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 50px;
}

.about .content {
    background-color: #eee;
    padding: 20px;
    margin: 20px;
    border: 1px solid #aaa;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about .content p {
    margin-bottom: 15px;
    text-indent: 30px;
    text-align: justify;
    line-height: 26px;
}

.about .content span {
    align-self: flex-end;
}
